.btn_space{
    margin-right: 3px;
}
.search-results{
    z-index: 1;
}
.line-item{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15   px;
    color: black;
}
// .ui-autocomplete {
//     list-style: none;
//     background-color: gainsboro;
//     width: 80px;
//     padding-left: 10px;
//   }
